@model ShoppingViewModel

<div class="container">
    <form id="FilterProducts-form" asp-controller="Shopping" asp-action="FilterProducts" method="post">
        <div id="filter-options" class="filter-collapsed">

            <h4>Store Filter</h4>

            <label for="store-select">Store:</label>
            <select id="store-select" name="store" asp-for="Store">
                <option value="">All</option>
                @foreach (var store in Model.Stores)
                {
                    <option value="@store.Name">@store.Name</option>
                }
            </select>

            <label for="category-select">Category:</label>
            <select id="category-select" name="category" asp-for="Category">
                <option value="">All</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category">@category</option>
                }
            </select>

            <label for="district-select">District:</label>
            <select id="district-select" name="district" asp-for="District">
                <option value="">All</option>
                @foreach (var district in Model.DistrictCounties.Keys)
                {
                    <option value="@district">@district</option>
                }
            </select>

            <label for="county-select" id="county-select-label" style="display: none;">County:</label>
            <select id="county-select" name="county" asp-for="County" disabled style="display: none;">
                <option value="">All</option>
                @foreach (var district in Model.DistrictCounties.Keys)
                {
                    @foreach (var county in Model.DistrictCounties[district])
                    {
                        <option value="@county" data-district="@district">@county</option>
                    }
                }
            </select>

            <script>
                var districtSelect = document.getElementById("district-select");
                var countySelect = document.getElementById("county-select");
                var countySelectLabel = document.getElementById("county-select-label");
                var countyOptions = countySelect.getElementsByTagName("option");
                var countyOptgroups = countySelect.getElementsByTagName("optgroup");

                districtSelect.addEventListener("change", function () {
                    var selectedDistrict = districtSelect.value;
                    if (selectedDistrict) {
                        countySelect.disabled = false;
                        countySelectLabel.style.display = "inline";
                        countySelect.style.display = "inline";
                        for (var i = 0; i < countyOptions.length; i++) {
                            var countyOption = countyOptions[i];
                            var district = countyOption.getAttribute("data-district");
                            if (district === selectedDistrict) {
                                countyOption.style.display = "block";
                            } else {
                                countyOption.style.display = "none";
                            }
                        }
                        for (var i = 0; i < countyOptgroups.length; i++) {
                            var countyOptgroup = countyOptgroups[i];
                            if (countyOptgroup.getElementsByTagName("option").length === 0) {
                                countyOptgroup.style.display = "none";
                            } else {
                                countyOptgroup.style.display = "block";
                            }
                        }
                    } else {
                        countySelect.disabled = true;
                        countySelectLabel.style.display = "none";
                        countySelect.style.display = "none";
                        for (var i = 0; i < countyOptions.length; i++) {
                            var countyOption = countyOptions[i];
                            countyOption.style.display = "block";
                        }
                        for (var i = 0; i < countyOptgroups.length; i++) {
                            var countyOptgroup = countyOptgroups[i];
                            countyOptgroup.style.display = "block";
                        }
                    }
                });
            </script>

            <label for="price-min">Minimum Price:</label>
            <input type="number" id="price-min" name="min" asp-for="Min" min="0" max="1000" value="0">
            <label for="price-max">Maximum Price:</label>
            <input type="number" id="price-max" name="max" asp-for="Max" min="0" max="1000" value="1000">

            @if(Model.CatFilter != null)
            {
                <h4>Category Filter</h4>

                @foreach (var feature in Model.CatFilter)
                {
                    <label>@feature.Key</label>
                    @if (feature.Value.Count > 1)
                    {
                        <select multiple name="@feature.Key">
                            @foreach (var option in feature.Value)
                            {
                                <option value="@option">@option</option>
                            }
                        </select>
                    }
                    else
                    {
                        @foreach (var option in feature.Value)
                        {
                            <input type="checkbox" name="@feature.Key" value="@option"> @option <br>
                        }
                    }
                }
            }

        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Store Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null)
            {
                foreach (var product in Model.Products)
                {
                    var storeName = Model.Stores.FirstOrDefault(s => s.Id == product.Store)?.Name;
                    <tr>
                        <td>
                            <a href="@Url.Action("ProductPage", "Product", new { productId = product.Id , storeName })">
                                <img class="preview-image" src="~/Images/@storeName/@product.Icon" alt="@product.Name">
                            </a>
                        </td>
                        <td>@product.Name</td>
                        <td>$@product.Price</td>
                        <td>@storeName</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <style>
        .preview-image {
            width: 256px;
            height: 256px;
            object-fit: cover;
            margin-right: 10px;
        }
    </style>
</div>